<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="touch-icon.png">
	<link href="ios-splash/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
	 rel="apple-touch-startup-image" />
	<link href="ios-splash/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
	 rel="apple-touch-startup-image" />
	<meta name="apple-mobile-web-app-title" content="FLEX">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<title>FlexApp</title>
</head>

<body ontouchstart="">
	<main id="app">
		<div class="modal" v-bind:class="{ 'is-active': !isLoggedIn }">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title"><b>{{ isLoading ? "Loading..." : "Welcome to FlexApp" }}</b></p>
				</header>
				<section class="modal-card-body">
					<h5 class="subtitle is-5">Log in using your FlexTime account.</h5>
					<div class="field">
						<label class="label">Username</label>
						<div class="control">
							<input class="input" type="text" v-model="username" placeholder="username">
						</div>
					</div>
					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input class="input" type="password" v-model="password" placeholder="password">
						</div>
					</div>
					<label class="checkbox">
						<input type="checkbox" v-model="rememberMe">
						Remember me
					</label>
				</section>
				<footer class="modal-card-foot">
					<button class="button is-link" v-bind:class="{ 'is-loading': isLoading }" v-on:click="login">Login</button>
				</footer>
			</div>
		</div>
		<nav class="navbar is-black" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="#">
					<b>FlexApp</b>
				</a>
				<span role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</span>
			</div>
			<div class="navbar-menu" id="menu">
				<div class="navbar-end">
					<a class="navbar-item" v-on:click="renderBarcode">
						Check-in Code
					</a>
					<a class="navbar-item" v-on:click="logout">
						<b>Logout</b>
					</a>
				</div>
			</div>
		</nav>
		<div class="container-fluid" v-show="showCode">
			<center>
				<svg id="idcode" width="100%"></svg>
			</center>
		</div>
		<section class="section" v-if="isLoggedIn">
			<h1 class="title">Appointments</h1>
			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th>Date</th>
						<th>Appointment</th>
					</tr>
				</thead>
				<tbody>
					<tr class="isa-selected" v-for="appointment in appointmentsSorted">
						<td>{{ appointment.start | humanizeDate }}</td>
						<td>{{ appointment.title | removeStopWords | capitalize }} &nbsp;<span class="tag is-link" v-if="appointment.teacherEvent">Teacher
								Created</span></td>
					</tr>
				</tbody>
			</table>
		</section>
		<section class="section" v-if="isLoggedIn">
			<h1 class="title">Offerings</h1>
			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th>Date</th>
						<th>Offering</th>
						<th>Teacher</th>
					</tr>
				</thead>
				<tbody>
					<tr class="isa-selected" v-for="offering in offerings">
						<td>{{ offering.offeringDate | humanizeDate }}</td>
						<td>{{ (offering.offering ? offering.offering : offering.name) | decodeEntities }} &nbsp;
							<span class="tag is-danger" v-if="offering.numAppts <= 0">Full</span>
							<span class="tag is-link" v-if="offering.numAppts > 0">Available ({{ offering.numAppts }})</span>
							<span class="tag is-link" v-if="offering.numAppts === 'N/A'">Available</span>
						</td>
						<td>{{ offering.teacherLast }}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<style>
		tr.is-selected {
			background-color: hsl(48, 100%, 67%) !important;
			color: black !important;
			font-weight: bold;
		}

		@supports (-webkit-overflow-scrolling: touch) {
			body {
				-webkit-user-select: none;
				-webkit-tap-highlight-color: transparent;
				-webkit-touch-callout: none;
			}
		}
	</style>
</body>

<script src="https://unpkg.com/dayjs@1.7.5/dayjs.min.js" integrity="sha384-UpPDQAzEzi9g3bvUiBh/AItWM9XPim/a2/2yKG9dxNdnWI1bsinpMgJ86JGP8kW/"
 crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js" integrity="sha384-9MzmvphdUvLZJKasjD7VqYE4SqffhZDOwDTMyokP2tx+fjBo59ljvrlgUAaaME44"
 crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.code39.min.js" integrity="sha384-kJekHWjsWr1Ub9BLZKy5jpCEs7qvYRqipbKNUxndSIl5wy6tW3y5g3/bC3fKs7Jn"
 crossorigin="anonymous"></script>
<script src="index.js"></script>

</html>