@keyframes pulse-loading {
    from {color: #dddddd;}
    to {color: #6b6b6b;}
}

.OnboardingLoading-loadingIndicator {
	font-family: -apple-system, BlinkMacSystemFont, 'Inter UI';
	animation: 3s infinite alternate pulse-loading;
	font-weight: bold;
}