// max is 550px

.Onboarding-Login-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter UI';
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: -0.05rem;
    font-weight: 700;
    font-size: 36px;
    color: black;
}

.Onboarding-Login-subtitle {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter UI';
    margin-top: 10px;
    font-size: 15px;
    color: black;
}

.Onboarding-Login-input {
    box-shadow: none;
    width: 100%;
    max-width: 500px;
}