.Onboarding-Welcome-buttonContainer {
    margin-top: calc(100vh - 200px);
    position: fixed;
    z-index: 1000000;
    width: 100%;
}

.Onboarding-Welcome-blueButton {
    width: 85%;
    height: 49px;
    background: #007AFF;
    font-weight: 400;
    border-radius: 10px;
}

.Onboarding-Welcome-heroBody {
    justify-content: center;
}

.Onboarding-Welcome-subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
    .Onboarding-Welcome-blueButton {
        width: 463px;
    }
}